.tab-pane .tab-header-area .tab-header-background {
	-fx-background-color: #FFFFFF;
}

.tab-pane .tab-header-area .tab {  
}

.scroll-pane .viewport{
	-fx-background-color: #FFFFFF;
}

.menu-bar .label {
    -fx-font-size: 14 pt;
}
	
.content1{
	-fx-font-size: 14 pt;
	-fx-font-weight: bold;
	-fx-padding: 10.0 0.0 0.0 0.0;
}

.content2{
	-fx-font-weight: bold;
	-fx-padding: 0.0 0.0 0.0 15.0;
}

.content0{
	-fx-padding: 0.0 0.0 0.0 25.0;
}